<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tin.demo.activiti.mapper.UserMapper">

  <resultMap id="userMap" type="com.tin.demo.activiti.entity.User">
    <id column="user_id" property="userId" javaType="Long"/>
    <result column="user_name" property="userName" javaType="String"/>
    <result column="user_account" property="userAccount" javaType="String"/>
    <result column="password" property="password" javaType="String"/>
    <result column="salt" property="salt" javaType="String"/>
    <result column="del_flag" property="delFlag" javaType="Integer"/>
  </resultMap>

  <select id="list" resultMap="userMap">
    select * from t_user
  </select>

  <insert id="save" parameterType="com.tin.demo.activiti.entity.User">
    insert into t_user(user_name, user_account, password, salt, del_flag)
      values(#{userName}, #{userAccount}, #{password}, #{salt}, #{delFlag})
  </insert>

  <select id="findUser" resultMap="userMap">
    select * from t_user where 1 = 1
    <if test="userId != null"> and user_id = #{userId}</if>
    <if test="userName != null"> and user_name = #{userName}</if>
    <if test="userAccount != null"> and user_account = #{userAccount}</if>
    <if test="password != null"> and password = #{password}</if>
    <if test="salt != null"> and salt = #{salt}</if>
    <if test="delFlag != null"> and del_flag = #{delFlag}</if>
  </select>

</mapper>